.storage {
	position: relative;
	z-index: 2;
	padding: 8rem 0 0;

	&--first {
		grid-row: 1 / 5;
		grid-column: 1 / 2;
	}

	&--second {
		grid-row: 6 / 7;
		grid-column: 1 / 2;
	}

	&--third {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}

	&--fourth {
		grid-row: 2 / 6;
		grid-column: 2 / 3;
	}

	&--fifth {
		grid-row: 6 / 7;
		grid-column: 2 / 3;
	}

	&--sixth {
		grid-row: 1 / 3;
		grid-column: 3 / 4;
	}

	&--seventh {
		grid-row: 4 / 7;
		grid-column: 3 / 4;
	}

	&__row {
		display: grid;
		grid-template-columns: 77rem 47rem 27rem;
		grid-template-rows: 41rem 6.6rem 3rem 7.9rem 5.4rem;
		column-gap: 3rem;
	}

	&__title {
		margin-bottom: 3.2rem;
	}

	&__link {
		width: fit-content;

		&::after {
			width: 1.2rem;
			height: 1.2rem;
		}

		span {
			font-size: 2rem;
			line-height: 2.5rem;
		}
	}

	&__img {
		width: 100%;
		border-radius: 0.2rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__video {
		position: relative;
		border-radius: 0.2rem;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			&::after {
				opacity: 1;
			}

			.storage__play {
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translate(-50%, -50%);
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-color: $accent-color-2;
		transition: transform 0.3s ease-in-out;

		svg {
			width: 1.2rem;
			height: 1.4rem;
		}

		path {
			fill: #fff;
		}
	}

	&__square {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__number {
		padding-bottom: 1.4rem;
		font-size: 2.6rem;
		line-height: 3.2rem;
		color: $accent-color-2;

		span {
			font-weight: 500;
			font-size: 9rem;
			line-height: 70%;
		}
	}

	&__label {
		width: 17rem;
		margin-top: -0.4rem;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
	}
}

.storage--quiz {
	padding: 0 0 14rem;
}


@media (max-width:768px) {
	.storage {
		padding: 3.8rem 0 0;

		&__row {
			grid-template-columns: 11.2rem 14.9rem;
			grid-template-rows: auto 24.5rem 16.4rem 1.9rem 5.5rem 10.2rem;
			gap: 1.5rem;
		}

		&--first {
			grid-row: 1 / 2;
			grid-column: 1 / 3;
		}

		&--second {
			grid-row: 6 / 7;
			grid-column: 2 / 3;
		}

		&--third {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}

		&--fourth {
			grid-row: 3 / 4;
		}

		&--fifth {
			grid-row: 4 / 6;
		}

		&--sixth {
			grid-row: 3 / 5;
			grid-column: 1 / 2;
		}

		&--seventh {
			grid-row: 5 / 7;
			grid-column: 1 / 2;
		}

		&__title {
			margin-bottom: 2.7rem;
		}

		&__link {
			margin-bottom: 2.8rem;

			&::after {
				width: 1rem;
				height: 1rem;
			}

			span {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		&__play {
			width: 6rem;
			height: 6rem;

			svg {
				width: 1rem;
				height: 1.1rem;
			}
		}

		&__number {
			padding-bottom: 1rem;
			font-size: 1.6rem;
			line-height: 2rem;

			span {
				font-size: 4rem;
				line-height: 2rem;
			}
		}

		&__label {
			width: 11rem;
			font-size: 1.3rem;
			line-height: 1.6rem;
		}
	}
}